# KataGo 相关文件
Katago/
Katago/**
Katago/katago-v1.15.3-opencl-windows-x64/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo

# KataGo
*.bin.gz
*.log
gtp_logs/

# 系统文件
.DS_Store
Thumbs.db